h3 Home


div(ng-repeat='s in symbols',jj-stock,symbol='{{s}}')

div(jj-greeting, ng-repeat='person in people', name='{{person.name}}', age='{{person.age}}')

div(jj-clock, frequency='2000')
div(jj-clock, frequency='1000')
div(jj-clock, frequency='500')
div(jj-clock, frequency='250')
div(jj-clock, frequency='10')
